{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<main>
<!--? Hero Start -->
<div class="slider-area2">
     <div class="slider-height2 d-flex align-items-center">
          <div class="container">
               <div class="row">
                    <div class="col-xl-12">
                         <div class="hero-cap text-center">
                              <h2>Sketch n Build</h2>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
<!-- Hero End -->
<!--? About Law Start-->
<section class="about-low-area section-padding2">
     <div class="container">
          <div class="row">
               <div class="col-lg-6 col-md-12">
                    <div class="about-caption mb-50">
                         <!-- Section Tittle -->
                         <div class="section-tittle mb-35">
                              <h2>What is it?</h2>
                         </div>
                         <p style="text-align: justify;">sketch n build&trade; is a Community based Capacity building program,
                              created to help create solutions to peculiar challenges within our various communities, through 
                              Technology advancement.
                              This is a product of skaetch, it happens twice in a year and it is basically informed by the need 
                              of the host community. Our team of peace loving moderators, facilitators help in 
                              ensuring that your satisfaction is fully derived through the period of this exercise.
                              Some call it an internship opportunity, while others calls it a hackathon experience,
                              it is indeed relative based on your understanding of those two words.
                              For the first iteration of 2021, we will be kicking off with Software Engineering using 
                              <a href="https://www.python.org" style="color: black;">Python.</a><sub>click to learn more</sub><br>
                              The decision to commence the year 2021 with Python is informed by the robustfulness of the 
                              language in addressing a broad spectrum of solutions, ranging from <em>Web Development, Machine Learning, Artificial
                              Intelligence, Game development and GUI programming amongst various other solution.</em> <br> Our approach is simple:
                              Onboard, Train and engage!<br>
                              To enable us guarantee your engagement after the training, we are partnering with Businesses and 
                              stakeholders within the hosting community who will be recipients of the various solutions that will
                              be created and sampled during the demo.
                              This internship is free to attend.<br>
                              You can join our on-site or online cohort, depending on
                              which of the opening is more comfortable for your timing.
                              </p>
                         </div>
                         <a href="#" class="btn mt-50">Read more</a>
                    </div>
                    <div class="col-lg-6 col-md-12">
                         <!-- about-img -->
                         <div class="about-img ">
                              <div class="about-back-img ">
                                   <img src="https://res.cloudinary.com/skaetch/image/upload/v1602164541/skaetch/assets/img/gallery/about1_t3sdyz.png" alt="">
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </section>
     <!-- Brand Area End -->
</main>
{% endblock content %}