{% extends "home/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container m-5">
    <div class="content-section">
        {% if message %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
        {% endif %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Update Post</legend>
        </fieldset>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Update">
        </form>
    
    </div>
</div>

{% endblock content %}