{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<main>
<!--? Hero Start -->
<div class="slider-area2">
     <div class="slider-height2 d-flex align-items-center">
          <div class="container">
               <div class="row">
                    <div class="col-xl-12">
                         <div class="hero-cap text-center">
                              <h2>Sketch n Build</h2>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
<!-- Hero End -->
<!-- PRE-VOLUNTEERING BRIEFING -->
<section class="about-low-area section-padding2">
     <div class="container">
          <div class="row">
               <div class="col-lg-6 col-md-12">
                    <div class="about-caption mb-50">
                         <!-- Section Tittle -->
                         <div class="section-tittle mb-35">
                              <h2>Why Volunteer?</h2>
                         </div>
                         <p style="text-align: justify;"> With busy lives, it can be hard to find time to volunteer. 
                              However, the benefits of volunteering can be enormous. 
                              Volunteering offers vital help to people in need, worthwhile causes, and the community, 
                              but the benefits can be even greater for you, the volunteer. 
                              The right match can help you to find friends, connect with the community, 
                              learn new skills, and even advance your career.<br>
                              Giving to others can also help protect your mental and physical health. It can reduce stress, combat depression, 
                              keep you mentally stimulated, and provide a sense of purpose. 
                              While it’s true that the more you volunteer, the more benefits you’ll experience, 
                              volunteering doesn’t have to involve a long-term commitment or take a huge amount of time out of your busy day. 
                              Giving in even simple ways can help those in need and improve your health and happiness.
                              One of the more well-known benefits of volunteering is the impact on the community. 
                              Volunteering allows you to connect to your community and make it a better place
                              </p>
                         </div>
                         <a href="#" class="btn mt-50">Read more</a>
                    </div>
                    <div class="col-lg-6 col-md-12">
                         <!-- about-img -->
                         <div class="about-img ">
                              <div class="about-back-img ">
                                   <img src="https://res.cloudinary.com/skaetch/image/upload/v1602164541/skaetch/assets/img/gallery/about1_t3sdyz.png" alt="">
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </section>
<!--? Brand Area Start -->
<!-- <section class="team-area pt-180 pb-100">
     <div class="container">
          <div class="row">
               <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-team mb-30">
                         <div class="team-img">
                              <img src="{% static 'home/img/gallery/team1.png' %}" alt=""> -->
                              <!-- Blog Social -->
                              <!-- <ul class="team-social">
                                   <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                   <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                   <li><a href="#"><i class="fas fa-globe"></i></a></li>
                              </ul>
                         </div>
                         <div class="team-caption team-caption2">
                              <h3><a href="#">Jesscia brown</a></h3>
                              <p> Co Founder</p>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section> -->
<!-- Brand Area End -->
</main>
{% endblock content %}