	/*
  	Flaticon icon font: Flaticon
  	Creation date: 05/05/2020 06:05
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.3c61ee4d3956.eot");
  src: url("./Flaticon.3c61ee4d3956.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.a093d8fc2911.woff2") format("woff2"),
       url("./Flaticon.1f6b0bea975a.woff") format("woff"),
       url("./Flaticon.4a0ec93f7970.ttf") format("truetype"),
       url("./Flaticon.b2f962972507.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.b2f962972507.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-computing:before { content: "\f100"; }
.flaticon-education:before { content: "\f101"; }
.flaticon-business:before { content: "\f102"; }
.flaticon-communications-1:before { content: "\f103"; }
.flaticon-graduated:before { content: "\f104"; }
.flaticon-tools-and-utensils:before { content: "\f105"; }
.flaticon-communications:before { content: "\f106"; }
.flaticon-web-design:before { content: "\f107"; }